
<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Crypto Career Day</h2>
                </div>
		<h3 class="section-subheading text-center">Crypto Career Day is an event for those who are considering a career in Bitcoin, Cryptocurrencies or Blockchain. No matter if you are at the beginning of your career or are considering to change your path, at the Crypto Career Day you will be able to find professionals and companies to engage with. <a href=/2018>Click here to see the 2018 event</a></h3>
                 <center><a href="https://www.meetup.com/Bitcoin-HK/events/261313996/" class="btn btn-xl">RSVP HERE</a></center>
            </div>
        </div>
    </section>
